APP_NAME=FastAPI Template
APP_ENV=dev
APP_VERSION=dev
APP_PORT=8000

LOCAL_IMAGE_NAME=perpy-fastapi:latest

REGISTRY_HOST=83.166.247.130:5000
REGISTRY_IMAGE=perpy-fastapi
REGISTRY_USER=change_me_user
REGISTRY_PASSWORD=change_me_password
